@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --background: hsl(40, 20%, 97%);
  --foreground: hsl(142, 51%, 21%);

  --header-height: 120px;
  --header-background-color: var(--background);
  --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 0%, 0.03);

  --radius-smallest: 6px;
  --radius-small: 12px;
  --radius-medium: 24px;
  --radius-large: 150597px;

  --shadow-smallest: 0px 4px 8px hsla(0, 0%, 0%, 0.12);
  --shadow-small: 0 5px 10px hsla(0, 0%, 0%, 0.12);
  --shadow-medium: 0 8px 30px hsla(0, 0%, 0%, 0.12);
  --shadow-large: 0 30px 60px hsla(0, 0%, 0%, 0.12);

  --font-primary: 'Fredoka One', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #fef7c6
  ;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
}

a {
  color: currentColor;
  text-decoration: none;
}

.debug {
  outline: 1px solid rgba(255, 0, 0, 0.3);
}